* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color:black ;
    width: 100%;
    height: 100vh;
}

.image {
    height: 11vh;
    background: linear-gradient(to right,#bbe80b,#1e7dc7);
    border-radius: 20%;
    margin-top: 1vh;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin-top: 8vh;
    margin-right: 11px;
}

h1 {
    margin-top: 2vh;
text-shadow: 2px 1px #ee2c2c;
font-size: 30px;
text-align: center;
color: white;
}

p {
    color: blueviolet;
    font-size: 15px;
    text-shadow: 1px 1px blue;
}

.button {
    background: linear-gradient(to right,#aa31c8,#356cd4);
    color: aliceblue;
    height: 8vh;
    padding: 5px;
    margin-top: 3vh;
    border: none;
    border-radius: 13px;
    font-size: 13px;
    transition: transform 450ms;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.button:hover {
    background-color: deepskyblue;
    color: black;
    transform: translateY(-10px);
}

.btn-section {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-right: 22vw;
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
    width: 8vw;
    margin-top: 0vh;
    margin-left: 0vw;
}

table,
th,
td {
    border: 2px solid black;
    background-color: blueviolet;
    color: aliceblue;
}

.table-container {

    display: flex;
    justify-content: center;
    margin-top: 0vh;
    margin-left: 0vw;
}

.table {
    margin-top: 5vh;
    margin-left: 3vw;
}

.t-tl1 {
    background-color: cadetblue;
    color: black;
}

.t-tl2 {
    background-color: #63C5EA;
    color: black;
}

.h31 {
    color: rgb(73, 124, 126);
    margin-top: 3vh;
}

.h32 {
    color: #2db1e0;
    margin-top: 3vh;
}

.footer {
    text-align: center;
    margin: 28vh auto;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.f-text-1 {
    font-size: 20px;
    text-shadow: none;
}

.f-text-2 {
    color: red;
    font-size: 23px;
}
.image-t{
    animation: flipV 1s linear;
    height: 11vh;
}
@keyframes flipV{
    50%{
        transform: rotateY(180deg);
    }
    
}
.icon{
    width: 30px;
}
.github{
    color: blueviolet;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}
.btn-mode{
  gap: 1vh;
  display: flex;
  justify-content: space-around;
}
.btn-dark{
    border-radius: 50%;
height: 40px;
width: 40px;
border: none;
background: black;
text-align: center;
}
.btn-light{
    border-radius: 50%;
height: 39px;
width: 40px;
border: none;
color: white;
background-color: black;
text-align: center;
}